body {
    font-family: 'Open Sans', sans-serif;
    height: 4000px; 
}

.uppercase {
    text-transform: uppercase;
}

.after_boder::after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #ff8b38;
    display: block;
    margin: 25px 0;
}

.after_boder_center::after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #ff8b38;
    display: block;
    margin: 35px auto;
}

.after_boder_center_color::after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 35px auto;
}

.clearfix {
    float: both;
}

/* Start navbar */

.navbar{
    border-radius: 0;
    min-height: 61.8px;
    padding: 10px 0;
    line-height: 61.8px;
    background-color: #000000;
    border-color: #000000;
    margin-bottom: 0;
}


.scrolled {
    background-color: rgba(0, 0, 0, .5);
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.navbar-inverse .navbar-brand span {
    color: #ff8b38;
    font-weight: normal;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ff8b38;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgba(255,255,255,0.70);
    font-size: 16px;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ff8b38;
    background-color: transparent;
}

.nav > li > a {
    padding: 10px 20px;
}

/* End navbar */

/* Start Header */

.header {
    background-image: url(../images/banner.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #FFF;
    /* overflow: hidden; */
}

.header .overlay {
    /* padding-top: 100px; */
    position: absolute;
    width: 100%;
    height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, .2);
}

.header .centering-vh {
    margin-top: 25vh;
}

.header h1 {
    font-weight: bold;
    font-size: 60px;
}

.header h1 span {
    font-weight: normal;
    color: #ff8b38;
}

.header .lead {
    font-size: 38px;
}

.header .lead::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 25px 0;
}

.header .text {
    font-family: tahoma;
    font-weight: inherit;
    color: rgba(255,255,255,0.80);
    margin-bottom: 35px;
    width: 400px;
}

.header button {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid #FFF;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.header button:hover {
    background-color: #FFF;
    color: #222;
}

.header form {
    width: 360px;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
}

.header form h2 {
    background-color: #F5F5F5;
    color: #333;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30px;
}

.header form h2 span {
    color: #ff8b38;
}

.header form .form-control {
    margin-bottom: 10px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0px auto 40px;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.header form .form-control:focus {
    border-bottom: 1px solid#ff8b38;
}

.header form input[type="submit"] {
    background-color: #ff8b38;
    padding: 20px 0;
    margin-top: 50px;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.header form input[type="submit"]:hover {
    background-color: #000000;
    color: white;
}

.header form .btn {
    border-radius: 0;
}

.header form .btn:hover {
    outline: 0;
}

/* End Header */

/* Start social media */


.social-section {
    padding: 10px;
    background-color: #FFF;
    -webkit-box-shadow: -2px -5px 13px #000;
    -moz-box-shadow: -2px -5px 13px #000;
    -o-box-shadow: -2px -5px 13px #000;
    box-shadow: -2px -5px 13px #000;
}

.social-section h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

.social-section p {
    color: #86878b;
    line-height: 1.6;
}

.social-section i {
    color: #CCC;
    margin: 25px 25px;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.social-section .fa-facebook-f:hover {
    color: #1877f2;
}

.social-section .fa-twitter:hover {
    color: #1da1f2;
}

.social-section .fa-google-plus-g:hover {
    color: #dd4b39;
}

.social-section .fa-pinterest:hover {
    color: #e60023;
}

.social-section .fa-instagram:hover {
    color: #833ab4;
}

.social-section .fa-stumbleupon:hover {
    color: #eb4924;
}

.social-section .fa-rss:hover {
    color: #ff8b38;
}

/* End socila media */

/* Start tabs */

.tabs-section {
    padding: 80px 0;
    background-color: #F5F5F5;
}

.tabs-section .tab-switch li {
    background-color: #333;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    height: 110px;
    line-height: 110px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.tabs-section .tab-switch li:hover {
    background-color: #ff8b38;
}

.tabs-section .tab-switch li.selected {
    background-color: #ff8b38;
}

.tabs-section .tabs-content div:not(.tab-cont1) {
    display: none;
}

.tabs-section .tabs-content h3 {
    margin-top: 0;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.tabs-section .tabs-content .lead {
    line-height: 1.6;
    font-size: 18px;
    color: #7e7e7e;
}

.tabs-section .tabs-content .btn {
    background-color: #ff8b38;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.tabs-section .tabs-content .btn:hover {
    background-color: #000000;
    color: white;
}

/* End tabs */

/* Start sublist */

.sublist {
    padding: 80px 0;
}

.sublist .sub-img {
    padding-top: 40px;
}

.sublist .list-info h3 {
    font-weight: bold;
}

.sublist .list-info p {
    color: #777;
    line-height: 1.7;
    margin-bottom: 30px;
}

.sublist .list_icon {
    overflow: hidden;
}

.sublist .list_icon i {
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    text-align: center;
    color: #ff8b38;
    margin-top: 20px;
}

.sublist .list_icon .text-infoo {
    width: calc(100% - 70px);
    margin-left: 20px;
}

.sublist .list_icon .text-infoo h4 {
    font-weight: bold;
}

/* End sublist */

/* Start Standars */

.standard {
    background-color: rgb(245,245,245);
    padding: 80px 0;
}

.standard h3 {
    font-weight: bold;
}

.standard p {
    color: #777;
    line-height: 1.7;
}

/* End standard */

/* Strat Aowseme  */

.Aowseme {
    padding: 80px 0;
}

.Aowseme .h1 {
    font-size: 40px;
}

.Aowseme p {
    color: #777;
    margin-bottom: 40px;
}

.Aowseme i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    text-align: center;
    color: #ff8b38;
    margin-top: 20px;
}

.Aowseme h3 {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

/* End Aowseme  */

/* Strat pricing */

.pricing {
    background-color: rgb(245,245,245);
    padding: 80px 0;
}

.pricing .h1 {
    font-size: 40px;
}

.pricing p {
    color: #777;
    margin-bottom: 40px;
}

.pricing .price-box {
    background-color: #FFF;
}

.pricing .price-box h3 {
    background-color: #333;
    color: #FFF;
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
}

.pricing .price-box .optionn {
    background-color: #333;
    padding: 10px 0 20px;
}

.pricing .price-box .optionn .price {
    font-size: 70px;
    color: #FFF;
    font-weight: bold;
    display: block;
}

.pricing .price-box .optionn .price .usd {
    font-size: 30px;
}

.pricing .price-box .optionn .periode {
    font-style: italic;
    color: #adadad;
    font-weight: bolder;
}

.pricing .price-box .optionn {
    border-bottom: 5px solid #ff8b38;
}

.pricing .price-box .config li{
    padding: 15px;
    border-bottom: 1px solid #f5f5f5;
    color: #86878B;
}

.pricing .price-box .pro {
    background-color: #ff8b38;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 10px 10px;
}

.pricing .price-box.basic,
.pricing .price-box.Entreprise {
    margin-top: 35px;
}

/* End pricing */

/* Strat testumonials */

.testimonials {
    padding: 80px 0;
}

.testimonials .h1 {
    font-size: 40px;
}

.testimonials p {
    color: #777;
    margin-bottom: 40px;
}

.testimonials .testi-text {
    background-color: #F5F5F5;
    color: #8e898e;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}

.testimonials .testi-text::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: #F5F5F5 transparent transparent transparent;
    left: 40px;
    bottom: -28px;
}

.testimonials .media {
    margin-left: 15px;
}

.testimonials .media .media-heading {
    margin-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.testimonials .media .media-body p {
    color: #8e898e;
    margin-left: 10px;
}

/* End testimonials */

/* Start stylish */

.stylish {
    color: white;
    padding: 80px 0;
    background-image: url(../images/news.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.stylish .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -5;
}

.stylish .h1 {
    font-size: 40px;
}

.stylish p {
    margin-bottom: 40px;
}

.stylish button {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid #FFF;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.stylish button:hover {
    background-color: #FFF;
    color: #222;
}

/* End stylish */

/* Start contact us */

.contact-us {
    padding: 80px 0;
}

.contact-us .h1 {
    font-size: 40px;
}

.contact-us p {
    color: #777;
    margin-bottom: 80px;
}

.contact-us .btn-boton {
    padding: 15px 25px;
    background-color: #ff8b38;
    color: white;
    border: 2px solid #FFF;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.contact-us .btn-boton:hover {
    background-color: black;
    color: white;
}

.contact-us .contact input[type="text"],.contact-us .contact input[type="email"] {
    margin-bottom: 20px;
    height: 60px;
}

.contact-us .contact textarea {
    height: 220px;
}

.contact-us .contact .form-control {
    margin-bottom: 10px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    caret-color: #ff8b38;
} 

.contact-us .contact .form-control:focus {
    border-bottom: 1px solid#ff8b38;
} 

/* End contact us */

/* start footer */

.footer {
    padding: 30px 0;
    background-color: #000000;
}

.footer .icon-social {
    color: white;
}

.footer .icon-social i {
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 15px;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.footer .icon-social .fa-facebook-f:hover {
    color: #1877f2;
}

.footer .icon-social .fa-twitter:hover {
    color: #1da1f2;
}

.footer .icon-social .fa-google-plus-g:hover {
    color: #dd4b39;
}

.footer .icon-social .fa-pinterest:hover {
    color: #e60023;
}

.footer .icon-social .fa-instagram:hover {
    color: #833ab4;
}

.footer .icon-social .fa-stumbleupon:hover {
    color: #eb4924;
}

.footer .icon-social .fa-rss:hover {
    color: #ff8b38;
}

.footer .copyright {
    color: #80806F;
}

.footer .copyright .copyr {
    display: block;
    margin-bottom: 15px;
}

.footer .copyright span a {
    text-decoration: none;
    color: #80806F;
}

.footer .copyright span a:hover {
    color: white;
}

/* End footer */

/* media queries */

@media (max-width: 767.20px) {
    .header .text {
        margin: 0 auto;
    }

    .header h1 {
        text-align: center;
    }

    .header .lead {
        text-align: center;
    }

    .header .lead::after {
        margin: 25px auto;
    }

    .header .centering-vh {
        margin-top: 100px;
    }

    .header button {
        margin: 25px auto;
        display: block;
    }

    .header {
        height: 140vh;
    }

}

@media (max-width: 991.20px) {
    .header .text {
        margin: 0 auto;
    }

    .header h1 {
        text-align: center;
    }

    .header .lead {
        text-align: center;
    }

    .header .lead::after {
        margin: 25px auto;
    }

    .header .centering-vh {
        margin-top: 100px;
    }

    .header button {
        margin: 25px auto;
        display: block;
    }

    .header {
        height: 140vh;
    }

}

@media (max-width: 991.20px) {
    .social-section {
        text-align: center;
    }
}

@media (max-width: 991.20px) {
    .tabs-section {
        text-align: center;
    }
    .tabs-section .tabs-content {
        margin-top: 30px;
    }
}

@media (max-width: 991.20px) {
    .sublist  {
        text-align: center;
    }

    .after_boder::after {
        margin: 25px auto;
    }

    .sublist .list_icon .pull-left {
        float: none !important;
        margin: 10px 0 10px 0;
    }

    .sublist .list_icon .text-infoo {
        float: none !important;
        width: 100%;
    }

    .sublist .sub-img {
        display: none;
    }

}

@media (max-width: 991.20px) {
    .standard {
        text-align: center;
    }

    .standard  .center-block {
       display: none;
    }
}



/* media queries */